html, body, div, h1, h2, h3, p, a, code, img, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ul {
    list-style: none;
}

h1, h2, h3, p {
    color: rgb(213, 213, 213);
}

a {
    color: rgb(112, 112, 255);
}
li {
    color: #46af4b;
}
.page {
    font-family: "Roboto", sans-serif;
    /*background-color: #2b2c2e;*/
    background-image: url('/img/background.jpg');
    background-position: center;
    background-size: cover;
    font-weight: 400;
    line-height: 1.6;
}
.wrapper {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    background-color: rgb(21, 23, 26);
}
.logo {
    display: block;
    margin: 0 auto;
    padding-bottom: 18px;
}
.header {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 32px;
}
.bold {
    font-weight: 700;
}
.list {
    list-style-type: disc;
    padding-bottom: 16px;
    padding-left: 10px;
}