@import url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtapYCP.ttf);

:root {
    --font: 'Roboto Mono', monospace;
    --background: rgb(95, 123, 247);
    --color: #232333;
    --normal-shadow: 0px 100px 80px rgba(0, 0, 0, 0.13),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0934511),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0774939),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.065),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0525061),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0365489);
  --text-shadow: 0px 100px 145px rgba(0, 0, 0, 0.25),
    0px 41.7776px 60.5775px rgba(0, 0, 0, 0.179714),
    0px 22.3363px 32.3876px rgba(0, 0, 0, 0.149027),
    0px 12.5216px 18.1562px rgba(0, 0, 0, 0.125),
    0px 6.6501px 9.64265px rgba(0, 0, 0, 0.100973),
    0px 2.76726px 4.01252px rgba(0, 0, 0, 0.0702864);
  }
  

html, body, div, h1, h2, h3, p, a, code, img, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
    background-image: url('/img/bkg-1.png');
    background-position: center;
    background-size: cover;
}
ul {
    list-style: none;
}

h1, h2, h3, p {
    color: rgb(213, 213, 213);
}

a:link {
    color: rgb(99, 94, 252);
    text-decoration: none;
}
a:visited{
    color:rgb(38, 13, 200);
}
a:hover{
    color:rgb(145, 255, 180);
    text-decoration:underline;
}
a:active{
    color:rgb(59, 224, 111);
    text-decoration: underline;
}
li {
    color: #46af4b;
}
.logo {
    display: block;
    margin: 0 auto;
    padding-bottom: 18px;
}
.page {
    font-family: "Roboto", sans-serif;
    /*background-color: #2b2c2e;*/
    font-weight: 400;
    line-height: 1.6;
}
.wrapper {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    background-color: rgb(21, 23, 26);
    border-bottom-right-radius: 3%;
    border-bottom-left-radius: 3%;
    box-shadow: var(--text-shadow);
}
.header {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 32px;
}
.h1-footer {
    text-align: center;
}
.footer {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
    height: 60px;
    background-color: #111212;
}
.bold {
    font-weight: 700;
}
.list {
    list-style-type: disc;
    padding-bottom: 16px;
    padding-left: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(68, 69, 70);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(41, 42, 43);
}